
.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px) {
  .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

  .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
  .navbar .nav-collapse .navbar-form { margin: 0; }
  .nav-collapse>li { float: none; }
}


.active-cyan-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}

.view,body,html{height:0;}



.navbar{
  z-index: 2;
  position: absolute;
  top: 0;
}

.navbar-inverse{
  background-color: gray;
  border-color: transparent;
  width: 100%;
}
.navbar-header{
  position: relative;
  left: 10%;
}
.navalign{
  position: absolute;
  right: 10%;
}
input{
  color: #000;
}
.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-nav>li>a{
  color: white;
  font-size: small;
}
.contain{
  position: absolute;
  top: 50%;
  left: 30%;
  width: 30%;
  z-index: 2;
}
.contain0{
  left: 60%;
}
.contain1{
  left: 60%;
}
.contain2{
  position: absolute;
  top: 58%;
  left: 52%;
  width: 8%;
  z-index: 2;
}
.contain3{
  position: absolute;
  top: 58%;
  left: 30%;
  width: 8%;
  z-index: 2;
}
.contain4{
  position: absolute;
  top: 58%;
  left: 36%;
  width: 8%;
  z-index: 2;
}
.contain5{
  position: absolute;
  top: 72%;
  left: 45%;
  width: 4%;
  z-index: 2;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #4acaff;}
.check{
  margin: 8px;
}
.search{
  width: 100%;
  height: 500px;
}
