<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<header>

<article >
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Create Group</a>
      </div>
    </div>
  </nav>
</article>

</header>
<ng-template #myDialog>
  <mat-dialog-content  >
    <h3><b>Register</b></h3>
    <section class="section about-section" id="about" >
      <div class="container" style="width: 550px">
        <form [formGroup]="employeeForm">
          <div class="row">
            <div class="col-12">
              <label class="col-lg-4 " for="name">Name <span class="required">*</span></label>
              <input type="text" class="form-control-plaintext text-uppercase" autocomplete="off"
                     placeholder="Enter Name" formControlName="name"  id="name">
              <mat-error class="text-center" *ngIf="isControlHasError('name','required')">
                This Field is required
              </mat-error>
              <br>
              <br>
            </div>
            <div class="col-12">
              <label class="col-lg-4 " for="email">Email <span class="required">*</span></label>

              <input type="text" class="form-control-plaintext text-uppercase" autocomplete="off"
                     placeholder="Enter Email" formControlName="email" id="email">
              <mat-error class="text-center" *ngIf="isControlHasError('email','required')">
                This Field is required
              </mat-error>
              <mat-error class="text-center" *ngIf="isControlHasError('email','email')">
                Email Id format is incorrect
              </mat-error>
              <br>
              <br>
            </div>
            <div class="col-12">
              <label class="col-lg-4 " for="mobile_number">Mobile <span class="required">*</span></label>

              <input type="number" class="form-control-plaintext text-uppercase" autocomplete="off"
                     placeholder="Enter Mobile Number" formControlName="mobile_number"   id="mobile_number">
              <mat-error class="text-center" *ngIf="isControlHasError('mobile_number','required') || employeeForm.hasError('whitespace')">
                This Field is required
              </mat-error>
              <br>
              <br>
            </div>
            <div class="col-12">
              <label class="col-lg-4 " for="address">Address <span class="required">*</span></label>

              <textarea rows="4" cols="50" formControlName="address" placeholder="Address"
                          class="form-control" id="address">
            </textarea>
              <mat-error class="text-center" *ngIf="isControlHasError('address','required')">
                This Field is required
              </mat-error>
              <br>
              <br>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-6 text-right">
              <button type="button" class="btn btn-primary"  (click)="addEmployee()" matDialogClose>
                Proceed
              </button>
            </div>
          </div>
        </form>

      </div>
    </section>

  </mat-dialog-content>
</ng-template>
</html>

