    <div class="top"></div>
    <div class="box">
      <div class="ImageBox">
      <form [formGroup]="registrationForm">
        <div class="group-gap">
          <div class="avatar-upload">
            <div class="avatar-edit">
              <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)"  formControlName="Image"/>
            </div>
            <div class="avatar-preview">
              <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
              </div>
              <mat-error class="text-center" *ngIf="isControlHasError('description','required')">
                This Field is required
              </mat-error>
            </div>
          </div>
          <button type="submit" class="btn btn-block" (click)="fileInput.click()"><span class="material-icons">photo_camera</span><span class="name">Group Logo</span></button>
        </div>
        <div class="formbox">
        <div class="form-group">
          <label for="name">Name<span class="required">*</span> </label>
          <div class="col-sm-4">
            <input type="text" formControlName="name"
                   class="form-control-plaintext" id="name">
            <mat-error class="text-center" *ngIf="isControlHasError('name','required')">
              This Field is required
            </mat-error>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <div class="col-sm-4">
            <input type="text" formControlName='description'
                   class="form-control-plaintext" id="description">
            <mat-error class="text-center" *ngIf="isControlHasError('description','required')">
              This Field is required
            </mat-error>
          </div>
        </div>
        </div>
      </form>
      </div>
      <br>
      <ng-container *ngFor="let item of employeeList | orderBy : ['name']">
        <mat-card class="example-card" style="display: inline-block;">
          <img mat-card-image [src]='item.Image' [alt]='item.Image' height="200" width="200">
          <input class="form-check-input" type="checkbox" value="true" (click)="selectUser(item.id)">

          <mat-card-content>
            {{item.name}}
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
    <div class="box2">
      <button mat-stroked-button class="btngit" color="primary" (click)="goToUrl()">Go To Gitlab</button>
    </div>
<br>
<br>
    <div class="btns">
      <button type="submit" class="btn btn-primary bottombtn" (click)="onSubmit()" [disabled]="this.registrationForm.invalid">Update</button>
      <button type="submit" class="btn btn-danger bottombtn" (click)="remove()">Remove</button>
    </div>


