.products-list {
  overflow-y: auto;
}
.align-items-center {
  border: 2px solid white;
  border-radius: 12px;
  margin-top: 35px;
  padding: 10px
}
.align-items-center2 {
  border: 2px solid white;
  border-radius: 12px;
  margin-top: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
}
.align-items-center3 {
  display: inline-block;
  border: 2px solid white;
  border-radius: 12px;
  margin-top: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  width: 20%;
}
.align-items-center4 {
  display: inline-block;
  border: 2px solid white;
  border-radius: 12px;
  margin-top: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  width: 70%;
}
.setwidth{
  width: 10%;  display: inline-block;

}
.box{
  display: inline-block;
  width: 65%;
  margin-left: 200px;

}
.ImageBox{
  width: 200px;
}
.box2{
  position: absolute;
  display: inline-block;
  width: 20%;
}
.top{
  height: 50px;
}
.field{
  font-size: 10px;
  font-style: italic;
}
.value{
  font-size: 15px;
font-weight: bold;
}
.mat-card{
  background-color: #8becff;
  margin: 20px;
  border-radius: 20px;
  font-weight: bold;
}
.names{
  margin: 15px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 15px;
  border-radius: 10px;
}
.mat-sidenav{
  width: 300px;
}
.mat-flat-button{
  padding: 20px;
  width: 100%;
  box-shadow: 5px 10px 8px #acada5;

}
.btngit{
  margin: 15px;
  padding: 5px;
  width: 380px;
}
.example-card {
  max-width: 200px;
}

.example-header-image {
  background-size: cover;
}


.jumbotron {
  padding: 20px 2rem 27px;
  background: #312BC6;
  margin: 0 auto 25px;
  border-radius: 0;
}

.h1,
h1 {
  font-size: 25px;
  color: #4EABE6;
  font-weight: 300;
  margin: 0;
}

h5 {
  font-weight: 600;
}

.custom-wrapper {
  max-width: 460px;
  margin: 0 auto 150px;
}

.h2,
h2 {
  font-size: 1.45rem;
}

label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #fff;
  margin-left: -190px;
}

.formbox{
  position: absolute;top: 170px;left: 550px;
}
.btn.focus,
.btn:focus,
.form-control:focus,
.custom-select:focus,
.custom-select:focus {
  box-shadow: none;
}

.form-control:focus,
.custom-select:focus {
  border: 1px solid #0C1CFF;
}

.btn-success,
.btn-success:hover {
  color: #312BC6;
  border-color: #00FC79;
  background-color: #00FC79;
}
.btns{
  width: 100%;
  margin-left: 30%;
}
.bottombtn{
  margin: 15px;
  padding: 10px;
}
.btn-group-lg>.btn,
.btn-lg {
  padding: 13px 15px 15px;
  font-size: 16px;
  border-radius: 0;
  text-transform: uppercase;
}

.btn-group-sm>.btn,
.btn-sm {
  padding: 10px 16px 10px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 0;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 10px auto 30px;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 19px;
  z-index: 1;
  top: 13px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit .custom-label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 38px;
  background: #3efc78;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit .upload-image {
  background: #3efc78;
}

.avatar-upload .avatar-edit .remove-image {
  background: #E91E63;
}

.avatar-upload .avatar-edit .custom-label:hover {
  opacity: 1;
}

.avatar-upload .avatar-edit .custom-label:after {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 8px;
  right: 0;
  left: 2px;
  width: 18px;
}

.avatar-upload .avatar-edit .upload-image:after {
  content: url('/assets/edit.svg');
}

.avatar-upload .avatar-edit .remove-image:after {
  content: url('/assets/close.svg');
  left: 0px !important;
}

.avatar-upload .avatar-preview {
  width: 200px;
  height: 180px;
  position: relative;
  border-radius: 38px;
  overflow: hidden;
  border: 12px solid #fff;
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}

.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.btn-block{
  background-color: transparent;
}
.form-control {
  height: auto;
  padding: 15px;
  font-size: 14px;
  color: #222222;
  border-radius: 0;
  background: #FDFDFD;
  border: 1px solid #312BC6;
}
.form-control-plaintext{

  color: #fff;
  font-weight: 800;
  border-color: gray;
  border-radius: 18px;
  height: 38px;
  background-color: #3a3d40;
  padding-left: 10px;

}

.form-check-input{
  position: absolute;
  top: 4px;
  width: 30px;
  height: 30px;
  left: 164px;
}
.name{
  margin-left: 10px;
  position: relative;
  top: -6px;
}
.custom-select {
  height: auto;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  color: #222222;
  background-color: #FDFDFD;
  border: 1px solid #312BC6;
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: #E91E63;
  background-color: #E91E63;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}

.custom-control-label {
  cursor: pointer;
}

.error:focus,
.error {
  border-color: #E91E63;
  color: #E91E63;
}

.invalid-feedback {
  color: #E91E63;
}

.btn-danger,
body .btn-danger:hover {
  background: #E91E63;
  border-color: #E91E63;
  color: white;
}

.subjectList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.subjectList li {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.invalid-feedback {
  display: block;
}

.mb-3,
.my-3 {
  margin-bottom: 15px !important;
}

.custom-control {
  margin-bottom: 5px;
}

.custom-control label {
  font-weight: 400;
}
